.movie-list-container {
    width: 100%;
    min-height: 82vh;
    background: #3a3838;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
